body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.accelerometer,
.gyroscope {
  text-align: center;
}

.accelerometer h2,
.gyroscope h2 {
  margin-bottom: 10px;
}

.accelerometer p,
.gyroscope p {
  font-size: 2em;
  margin-bottom: 10px;
}

.accelerometer span,
.gyroscope span {
  font-size: 1.5em;
  font-weight: bold;
}
